body {
  background-color: #010a1d;
  color: white;
}

.App {
  text-align: center;

  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Item-li {
  margin: 13px 0;
}

.Item-li span a {
  color: #07ff6f;
}

.form-submit {
  margin-left: 12px;
  height: 38px;
  width: 93px;
  background: #07ff6f;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
  padding: 3px 1px;
  cursor: pointer;
  font-size: 19px;
}

.search-form {
  width: 270px;
  height: 28px;
  background: none;
  border: 2px solid white;
  color: white;
  padding: 0px 9px;
  font-size: 23px;
}

.strong {
  font-size: 26px;
  margin-right: 12px;
}

.Item-li span button {
  font-size: 16px;
  margin-left: 20px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #010a1d;
  color: #010a1d;
  background-color: #07ff6f;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
